// Color
$primary: #d9354c;
$white: #fff;

body{
    background-color: $primary;
}


footer{
    position: absolute;
    bottom: 0;
    text-align: center;
    left: 0;
    width: 100%;
    font-size: 20px;
    color: $white;
}
